.main-container{
  margin-top: 40px;
  margin-bottom: 150px;
}

.puntero{
  cursor: pointer;
}


.chat-window{
  padding: 10px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #4080FF;
  border-radius: 20px;
}

.app-mensajes{
  overflow-y:scroll;
  height:270px;
  /*background:gray;*/
  padding: 5px;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.footer-img {
  background-image: linear-gradient(#3C3C3B, #000000);
  padding-top: 45px;
}

.navbar {
    background-color: #000000 !important;
    /* z-index: 99999; */
    transition: all ease .5s;
    padding-bottom: 15px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.centDiv {
  display: flex;
  justify-content: center;
}